__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.envrc
.venv
env/
venv/
ENV/
.idea/
.vscode/
.ruff_cache/
.pytest_cache/
.pdm-python
.pixi
__pypackages__/
*.pid
*.log
.wiki-index/
